%h1 やることリスト一覧
%table
  %thead
    %tr
      %th 名前
      %th 件名
      %th やる事
      %th 開始
      %th 完了
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.user.nickname
        %td= event.title
        %td= event.description
        %td= event.start_date.strftime("%Y-%m-%d %H:%M")
        %td= event.end_date.strftime("%Y-%m-%d %H:%M")
        %td= link_to '詳細', event
        %td= link_to '編集', edit_event_path(event)
        %td= link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' }
%br
#calendar
