%p#notice= notice

%p
  %b 件名:
  = @event.title
%p
  %b やる事:
  = @event.description
%p
  %b 開始:
  = @event.start_date.strftime("%Y-%m-%d %H:%M")
%p
  %b 完了:
  = @event.end_date.strftime("%Y-%m-%d %H:%M")

= link_to '編集', edit_event_path(@event)
\|
= link_to '戻る', events_path
